<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
    <div class="d-flex justify-content-center">
        <h1>New Ninja</h1>
        <div class="justify-content-center">
        <form action="/ninja/create" method="post">
            <p>Dojo:</p>
            <select name="dojo_id" id="dojo">
                {% for dojo in all_dojos %}
                <option value={{dojo.id}}>{{dojo.name}}</option>
                {% endfor %}
            </select>
            <p>First Name:</p>
            <input type="text" name="first_name" id="first_name">
            <p>Last Name:</p>
            <input type="text" name="last_name" id="last_name">
            <p>Age:</p>
            <input type="text" name="age" id="age">
            <button>Create</button>
            </form>
        </div>
        <a href="/">Home</a>
    </div>
</body>
</html>