<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home
    </title>
</head>
<body>
    <form action="/submit" method="POST">
        <p>
            Name:
            <input type="text" name="name">
        </p>
        <p>
            Age:
            <input type="number" name="age">
        </p>
        <input type="hidden" value = "this_is_a_secret_value" name="secret"> <!--hidden inputs are not secure at all-->
        <button>Submit</button>
    </form>
</body>
</html>