<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<style>
    .count {
        width: 200px;
        height: 200px;
        
    }
    .btn {
        height: 60px;
        width: 100px;
        align-items: center;
    }
</style>
<body class="text-center">
    <form action="/submit" method="POST">
        <div>
            <h1>COUNTER</h1>
            <h3>{{ session['count'] }}</h3>
            <form action="/submit" method="POST">
                <button name="clicked" value="1">Increase</button>
            </form>
            <form action="/destroy_session"  method="POST">
                <button name="reset" value="1">Reset</button>
            </form>
        </div>
    </form>

</body>
</html>