<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Favs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
    <div class="container d-flex space-around">
        <div class="col justify-content-center p-3 border bg-light">
            <h1>{{author.name}}'s Favorites</h1>
            <ul class="list-unstyled">
                {% for book in all_books %}
                <li>{{book.title}}</li>
                {% endfor %}
            </ul>
            <a href="/">Home</a>
        </div>
        <div class="col justify-content-center p-3 border bg-light">
            <form action="/add/favorite" method="POST">
                <p>Book:</p>
                <select name="title" id="title">
                    {% for book in all_books %}
                        <option value="{{book.title}}">{{book.title}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</body>
</html>
